
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  /* text-align: center; */
  padding: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#opening-text{
  max-width: 600px;
}


/* .groups .category{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
} */


.category h2{
  color: #5454dc;
}


#alphabet-nav{
  
}
#alphabet-nav button{
  background: transparent;
  border: none;
  color: green;
  font-size: 1rem;
  border-right: solid 1px silver;
  padding: 8px;
}
#alphabet-nav button:last-child{
  border-right: none;
}
#alphabet-nav button:hover{
  background: orange;
  cursor: pointer;
}





.data-form{
  text-align: left;
}


.persona-article-nav{
  margin: 4px 0;
  
  span{
    padding: 0 8px 0 0;
    font-weight: bold;  
  }
  button{
    margin-right: 4px;
  }
}

.ww-toggle{
  font-size: 0.8rem;
  padding: 2px 8px;
}


#searchbox2{
  margin-top: 20px;
  // border: solid 9px green;
  // width: 100%;
}
