
kjsdfs.groups{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.groups{
  display: flex;
 
  align-items: flex-start; 
  flex-flow: nowrap;  
  flex-wrap: wrap; 
  align-content: flex-start;

  /* background-color: #bbdefb; */
  height: 100%;
  padding: 15px;
  gap: 2px;
  font-size: 0.92rem;

  
  section{
    text-align: left;
  }
  section article{
    margin-bottom: 0.2rem;
    
    h3{
      display: inline;
      padding-right: 4px;
      font-weight: 600;
    }
    p{
      display: inline;
    }  
  }
}
.groups > .category{
  /* background: #ffecb3; */
   /* border: 3px solid #ffcc80; */
   /* border-radius: 5px; */
   padding: 1.2em;
   max-width: 280px;
   border-bottom: solid 1px silver;

   .categoryName{
    // margin-bottom: 0;
    line-height: 0;
   }
   .definition{
    font-style: italic;
   }


}
